<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/concesionario</property>
		<property name="connection.username">root</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		<mapping resource="com/mapeoHBN/Color.hbn.xml" />
		<mapping resource="com/mapeoHBN/Combustible.hbn.xml" />
		<mapping resource="com/mapeoHBN/Direccion.hbn.xml" />
		<mapping resource="com/mapeoHBN/Marca.hbn.xml" />
		<mapping resource="com/mapeoHBN/Persona.hbn.xml" />
		<mapping resource="com/mapeoHBN/TipoCarro.hbn.xml" />
		<mapping resource="com/mapeoHBN/Transmision.hbn.xml" />
		<mapping resource="com/mapeoHBN/Vidrio.hbn.xml" />
		<mapping resource="com/mapeoHBN/Modelo.hbn.xml" />
		<mapping resource="com/mapeoHBN/Carro.hbn.xml" />
		<mapping resource="com/mapeoHBN/Venta.hbn.xml" />
		<mapping resource="com/mapeoHBN/Empresa.hbn.xml" />
		<mapping resource="com/mapeoHBN/Imagen.hbn.xml" />
	</session-factory>
</hibernate-configuration>